#TS{
    background:linear-gradient(to bottom right, purple , yellow, cyan , white , orange , pink) 
}
#Unicorn {
background-image:url("https://i.pinimg.com/originals/af/8f/ae/af8faef4673954f2356fc131f36bf9b6.png");

}
#luna {
background-color: darkblue;

}
#celestia {
  background:linear-gradient(to bottom right, yellow , white  )
}
#fh {
  background-color:purple; 
}
#cadance {
  background-color: pink;
}
#ep {
  background-image: url("https://twoearthponies.files.wordpress.com/2015/02/aj_and_pinkie_-youre_an_apple_now-_s4e09.png");
}



